version: "3.8"

services:
  api:
    build:
      context: .
      target: api
    ports:
      - "8000:8000"
    volumes:
      - ./src:/src
    depends_on:
      - mongo

  app:
    build:
      context: .
      target: app
    ports:
      - "3000:3000"
    volumes:
      - ./src/app:/app/src/app
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true

  mongo:
    image: mongo:4.4
    ports:
      - "27017:27017"
    volumes:
      - ./db:/data/db
